/* Wildcard selector */ 

*  { 
    padding: 0; 
    margin: 0;  
    box-sizing: border-box; 
     } 
/* General style rules */ 

body { 
     min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    color: #3a3a3a; 
    overflow: auto;  
     } 

     #logo { 
         width: 70%; 
        height: auto;  
        
        }   
    
         

#logo-container { 

    width: auto; 
    
    display: flex; 
    
    justify-content: center; 
    
    align-items: center;  
    
    } 
    
     
    
    #logo-container a { 
    
    border-bottom: none !important; 
    
    } 

/* Main element takes up all the surplus space, to push the footer down */
main {
    flex: 1 0 auto;
}

