/* Wildcard selector */ 

*  { 
    padding: 0; 
    margin: 0;  
    box-sizing: border-box; 
     } 
/* General style rules */ 

body { 
     min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    color: #3a3a3a; 
    overflow: auto;  
     } 

     #logo { 
     width: 70%; 
     height: auto;  
     }   
    
         

#logo-container { 
    width: auto; 
    
    display: flex; 
    
    justify-content: center; 
    
    align-items: center;  
    
    } 
    
     
    
    #logo-container a { 
    
    border-bottom: none !important; 
    
    } 


header { 

    background-color: #ffffff; 
    
    position: fixed; 
    
    z-index: 99; 
    
    width: 100%; 
    
    height: 90px; 
    
    display: flex; 
    
    justify-content: center; 
    
    align-items: center; 
    
    box-shadow: 0 2px 2px #dadada; 
    
    border-top: 2px solid #dadada; 
    
    margin-top: 10px;  
    
    } 
    
    header a {  
    
    color: darkgray; 
    
    font-size: 110%; 
    
    font-style: italic; 
    
    text-transform: capitalize; 
    
    margin-bottom: 3px; 
    
    } 
    
     
    
    header p { 
    
    line-height: 1.8; 
    
    } 

    nav { 

        display: flex; 
        
        justify-content: space-between; 
        
        align-items: center; 
        
        padding: 10px 5px; 
        
        width: 100%; 
        
        position: relative; 
        
        } 
        
         
        
        #menu, #menu2 {  
        
        list-style-type: none; 
        
        display: flex; 
        
        margin: 0; 
        
        padding: 0; 
        
        gap: 50px; 
        
        align-items: center; 
        
        } 
        
         
        
        #menu li, #menu2 li {  
        
        letter-spacing: 2px; 
        
        text-decoration: none;  

    
    } 
     

   
         
        
       
        
         
        
        
        
         
        
        
         
        
        #menu li a:hover, #menu2 li a:hover { 
        
        border-bottom: 1px solid #dadada; 
        
        } 
        
         
        
        #menu li a.active, #menu2 li a.active { 
        
        border-bottom: 1px solid #dadada; 
        
        } 

/* Main element takes up all the surplus space, to push the footer down */
main {
    flex: 1 0 auto;
}


/* Footer */ 

footer { 

    background-color: #dadada; 
    
    width: 100%; 
    
    color: #3a3a3a; 
    
    height: 250px; 
    
    display: flex; 
    
    flex-direction: column; 
    
    text-align: center; 
    
    } 
    
     
    
    .networks { 
    
    display: flex;  
    
    font-size: 35px; 
    
    gap: 20px; 
    
    margin-top: 50px; /* Adjusted for spacing between icons */ 
    
    justify-content: center; 
    
    } 
    
    .info { 
    
    display: flex; 
    
    flex-direction: column; /* Stacks paragraphs vertically */ 
    
    align-items: center; /* Centers text horizontally */ 
    
    font-size: 16px; 
    
    margin-top: 20px; /* Optional: space between social links and info section */ 
    
    } 
    
     
    
    .info p { 
    
    margin: 5px 0; /* Adds space between each paragraph */ 
    
    } 


@media screen and (min-width: 576px) { 

    
    } 
    
     
    
    @media screen and (min-width: 768px){ 
    
    nav { 
    
    display: block; 
    
    position: relative; 
    
    box-shadow: none; 
    
    width: fit-content; 
    
    padding: 1rem; 
    
    } 
    
    #menu { 
    
    display: flex; 
    
    } 
    
    #menu > li { 
    
    padding: center; 
    
     
    
    } 
    
     
    
    
    #logo { 
    
    font-size: 100px; 
    
    line-height: 75px; 
    
    margin: 0 0.5rem; 
    
    } 
    
     
    
    main { 
    
    margin-top: 79px; 
    
    } 
    
     
    
    } 
    
     
    
    @media screen and (min-width: 992px) { 
    
    #menu a:hover { 
    
    border-bottom: 1px solid #dadada; 
    
    } 
    
     
    
    } 
    
     

