/* Wildcard selector */ 

*  { 
    padding: 0; 
    margin: 0;  
    box-sizing: border-box; 
     } 
/* General style rules */ 

body { 
     min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    color: #3a3a3a; 
    overflow: auto;  
     } 

     #logo { 
         width: 70%; 
        height: auto;  
        
        }   
    
         

#logo-container { 

    width: auto; 
    
    display: flex; 
    
    justify-content: center; 
    
    align-items: center;  
    
    } 
    
     
    
    #logo-container a { 
    
    border-bottom: none !important; 
    
    } 


header { 

    background-color: #ffffff; 
    
    position: fixed; 
    
    z-index: 99; 
    
    width: 100%; 
    
    height: 90px; 
    
    display: flex; 
    
    justify-content: center; 
    
    align-items: center; 
    
    box-shadow: 0 2px 2px #dadada; 
    
    border-top: 2px solid #dadada; 
    
    margin-top: 10px;  
    
    } 
    
    header a {  
    
    color: darkgray; 
    
    font-size: 110%; 
    
    font-style: italic; 
    
    text-transform: capitalize; 
    
    margin-bottom: 3px; 
    
    } 
    
     
    
    header p { 
    
    line-height: 1.8; 
    
    } 

/* Main element takes up all the surplus space, to push the footer down */
main {
    flex: 1 0 auto;
}

